{% extends "layout.html" %}

{% block head %}
{{ super() }}
<style>
	body > .main {
		padding-top: 0;
	}

	ul > li {
		flex-grow: 1;
		flex-basis: 592px;
	}

	ul > li.half {
		flex-basis: 296px;
	}

	.intro {
		color: #dddcdd;
		font-family: overlock, sans-serif;
		font-size: 31px;
		padding: 32px;
		padding-top: 32px;
	}

	@media (min-width: 700px) {
		.intro {
			padding-bottom: 64px;
			padding-top: 64px;
		}
	}

	.menu-buttons li .hocus-holder {
		display: flex;
		justify-content: center;
		overflow: visible;
		height: 0;
	}

	.menu-buttons li .hocus-holder > div {
		color: white;
		width: fit-content;
		height: fit-content;
		max-width: 60%;
		border: 1px solid black;
		box-shadow: 0px 1px 3px black;
		border-radius: 5px;
		margin-top: -10px;
		padding: 5px;
		z-index: 1;
		opacity: 0;
		pointer-events: none;
	}

	.menu-buttons li .hocus-holder > div:hover,
	.menu-buttons li a:focus ~ .hocus-holder > div,
	.menu-buttons li a:hover ~ .hocus-holder > div {
		color: white;
		background: black;
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px;
		opacity: 1;
		transition: opacity 0.2s ease-out;
		transition-delay: 0.8s;
	}

	.menu-buttons li a:focus ~ .hocus-holder > div {
		transition-delay: 0.2s;
	}
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div>
	<div class="margin-horizontal:auto max-width:800">
		<p class="intro">
			Battle your opponent for control of the Sigil in this strategy board game of arcane magic.
		</p>

		<ul
			class="menu-buttons display:flex flex-wrap:wrap column-gap:44 padding-horizontal:32 row-gap:16 @mq-700--row-gap:32"
		>
			<li class="half">
				<a
					class="menu-button large dark"
					href="/tutorial"
					>Tutorial</a
				>
				<div class="hocus-holder">
					<div>Learn to play</div>
				</div>
			</li>
			<li class="half">
				<a
					class="menu-button large dark"
					href="https://pineislandgames.com/sigil"
					>Learn More</a
				>
				<div class="hocus-holder">
					<div>Strategy guides, product updates, and more</div>
				</div>
			</li>
			<li class="half">
				<a
					class="menu-button large dark"
					href="https://discord.gg/vTSjFjydFE"
					>Discord</a
				>
				<div class="hocus-holder">
					<div>Talk strategy & find opponents</div>
				</div>
			</li>
			<li>
				<a
					class="menu-button large"
					href="/single-player-menu"
					>Single Player</a
				>
				<div class="hocus-holder">
					<div>Hone your skills</div>
				</div>
			</li>
			<li>
				<a
					class="menu-button large"
					href="/local-1v1"
					>Local 1v1</a
				>
				<div class="hocus-holder">
					<div>Play on the same screen</div>
				</div>
			</li>
			<li>
				<a
					class="menu-button large"
					href="/private-match"
					>Private Match</a
				>
				<div class="hocus-holder">
					<div>Challenge your friends</div>
				</div>
			</li>
			<li>
				<a
					class="menu-button large"
					href="/ladder-match"
					>Ladder Match</a
				>
				<div class="hocus-holder">
					<div>Test your skills</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div style="flex-basis: 100vh; min-height: 32px"></div>
<div class="display:grid gap:24 margin-horizontal:auto max-width:600 padding:32 text-align:center">
	<a
		class="link text-link"
		href="https://static1.squarespace.com/static/60b3f6f38856205429878909/t/63c012ac40af676dfa825d33/1673532079526/Sigil+Rulebook+01-12-2023+ScreenReview.pdf"
		target="_blank"
		>Comprehensive Rules</a
	>
	<p class="color:dddcdd font-family:arvo font-size:16 line-height:1.4375 @mq-700--font-size:20">
		<a class="link--white text-link" href="https://www.kickstarter.com/projects/pineislandgames/sigil" target="_blank">Back Sigil now on Kickstarter!</a>
	</p>
	<a href="https://www.pineislandgames.com/"
		><img
			class="@mq-700--width:200"
			alt="Pine Island Games"
			src="/static/images/pine-island-games-logo.png"
			width="140"
	/></a>
</div>
{% endblock %}
